.hero-contacts h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 33px;
}

.hero-contacts p {
  text-align: center;
}

.hero-contacts img {
  width: 70%;
  margin: 80px 15%;
}

@media (max-width: 768px) {
  .hero-contacts h1 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero-contacts p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .hero-contacts img {
    width: 90%;
    margin: 50px auto;
  }
}

@media (max-width: 480px) {
  .hero-contacts h1 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .hero-contacts p {
    font-size: 14px;
  }

  .hero-contacts img {
    width: 95%;
    margin: 40px auto;
  }
}

/* ..... feedback ..... */

.feedback {
  padding: 70px 0;
  background: #1C140F;
}

.feedback h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.feedback p {
  text-align: center;
  margin-top: 10px;
}

.feedback form {
  margin: 80px auto;
  width: 600px;
}

.feedback form .inline {
  display: flex;
  justify-content: space-between;
}

.feedback form .inline > div {
  width: 50%;
}

.feedback form .inline div:first-child {
  margin-right: 15px;
}

.feedback form label {
  color: #4F4F4F;
  font-size: 14px;
}

.feedback form input,
.feedback form textarea {
  background: #2C2420;
  border-radius: 10px;
  border: 0.6px solid #CECECE;
  display: block;
  width: 90%;
  padding: 15px 10px;
  outline: none;
  color: white;
  margin-top: 7px;
  margin-bottom: 20px;;
}

.feedback form .one-line {
  width: 96%;
}

.feedback form textarea {
  resize: none;
  height: 200px;
}

.feedback form button {
  background: #DC7000;
  border-radius: 5px;
  border: 0;
  float: right;
  cursor: pointer;
  color: white;
  padding: 15px 35px;
  transition: all 500ms ease;
}

.feedback form button:hover {
  background: #b01414;
}

@media (max-width: 768px) {
  .feedback form {
    width: 90%;
  }

  .feedback form .inline {
    flex-direction: column;
    align-items: center;
  }

  .feedback form .inline > div {
    width: 100%;
    margin: 0 !important;
  }

  .feedback form input,
  .feedback form textarea {
    width: 100% !important;
  }
}