@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');

@import url("home.css");
@import url("about.css");
@import url("portfolio.css");
@import url("auth.css");
@import url("news.css");
@import url("contacts.css");

@import url("components/header.css");
@import url("components/footer.css");

/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  background: #000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,14,1,1) 100%);
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}